 body,html{
    background-image: url('../images/webAppBackground.jpg');
    background-repeat: round;
    backface-visibility: visible;
}
 .title {
    border-top: 0cm;
    display: block;
    padding: 1rem;
    color: black;
    padding-left: 35%;
    padding-right: 35%;
    background-color: #e9ecef;
    font-size:2em;
    align-content: center;
   }

   p{
      font-size: 15px;
      color: black;
   }

