body,html {
    background-image: url('../images/mars-background.jpg');
    background-repeat: repeat-y;
    backface-visibility: visible;
    background-size: cover; 
    -webkit-text-size-adjust:100%; /* Disable mobile safari autozoom */
    width: 100%;
    height: 100%;
    margin: 0%;
}

.mainbox-left {
    float: left;
    width: 15%;
    height: auto;
    margin: 0 auto;
}

.mainbox-right {
    float: right;
    width: 15%;
    height: auto;
    margin: auto 0;
}

text {
    letter-spacing: 0px;
}

.mainbox-center {
    float: center;
    height: auto;
    width: 70%;
    border: 10px;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden; 
    padding-bottom: 2%;
}

button.paddingBtn {
    min-width: 2rem;
}
.menu {
    display: inline-flex;
    width: 75%;
    height: 85%;
    background: rgb(161, 161, 161);
    border: #000;
    margin-top: 25%;
}

* { box-sizing: border-box }

/* Style the tab */
.tabs {
    float: left;
    border: 1px solid #000;
    background-color: #f1f1f1;
    width: 20%;
    height: auto;
    margin-left: 2%;
    margin-top: 25%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007150;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007150;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 
/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #000;
    width: 100%;
    border-left: none;
    border-bottom:none;
    padding-bottom: 2%;
    height: auto;
    text-align: center;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    font-size: 55%;
    cursor: pointer;
    transition: 0.3s;
}
/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #ddd;
}
  
/* Create an active/current "tab button" class */
.tabs button.active {
    background-color: rgb(161, 161, 161);
}

.text-stroke {
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000"
}

.text-stroke-small {
    -webkit-text-stroke: .25px black;
    color: white;
    text-shadow:
        -.25px -.25px 0 #000,
        .25px -.25px 0 #000,  
        -.25px .25px 0 #000,
        .25px .25px 0 #000"
}

.stroke-dark {
    -webkit-text-stroke-color: white;
    color: black;
    text-shadow:white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.726);
    color: rgb(244, 244, 244);
}

.stroke-wide {
    -webkit-text-stroke: 2px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000"
}

.title {
    border-top: 0cm;
    display: block;
    padding: 1rem;
    color: black;
    padding-left: 35%;
    padding-right: 35%;
    background-color: #e9ecef;
    font-size:2em;
    align-content: center;
}

p {
    font-size: 16px;
    color: white;
}
   
.body-background-area {
    background: #d6a874;
    background-size:cover;
    width: 100%;
    height: 85%;
    margin-left:auto;
    margin-right:auto;
    padding-top:1rem;
}

.loading {
    visibility:hidden; 
    margin-right:1rem;
    right: 0;
    top: 0;
    margin-left: auto; 
    height: 10%;
    width: auto;
    position: absolute;
}

.alertBoxes {
    padding: 2px;
}

.alert {
    padding: 0;
}

.metadata:hover {
    cursor:copy;
}

input.largeBox {
    transform: scale(2);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

input.giantBox {
    transform: scale(3);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.draw:hover {
    cursor: url("../images/pencilcursor.png"),auto;
}

.helpBtn {
    width: 5rem; 
    height:auto;
    margin: 0;
}

.helpBtn:hover {
    background: rgba(0, 0, 0, .15);
    cursor: help !important;
}

.helpBtn:hover {
    cursor: pointer;
}

.image-image {
    display: inherit;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: auto;
}

.image-controls {
    position: relative;
    float: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-right:auto;
    padding: 0; 
    min-width: 20rem;         
}

label {
    color: white;
}

.button {
    width:4.5rem;
    height: auto;
    background: #007150;
    color: white;
    border: 2px solid black !important;
    overflow: hidden;
    margin: auto auto;
    min-width: 4.5rem;
}

.button [id=northIconFlag] {
    min-height: 7rem;
    min-width: 4.5rem;
}

.button:hover {
    background: rgba(0, 113, 79, 0.705);
    border: 2px solid rgba(0, 0, 0, 0.534) !important;
    cursor: pointer;
}

input[type=color]:hover {
    cursor: pointer;
    border: 1.5px double rgba(0, 0, 0, 0.452);
    background: white;
}

input:focus {
    outline: 2px double black;
}

input[type="color"] {
    margin: auto auto;
    margin-top: 0;
    margin-bottom: auto;
    width: 75%;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

.templateBtn {
    background-color: #007150;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    padding: 4%;
}

svg.image-image {
    position: relative;
    align-content: left;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: auto;
    border: 0%;
}

.help-box {
    position: absolute;
    float: left;
    margin: 0;
    margin-left: 3%;
    margin-right: 2%;
    border: 5px solid black;
    background: whitesmoke;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0;
    text-align: left;
    box-shadow: 2px 2px 8px 8px rgba(39, 109, 200, 0.719);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    width: 15%;
    height: 50%;
    overflow-y: auto;
}

cite {
    text-decoration: underline;
    font-style: inherit;
    margin: 0;
    margin-left: 2%;
    margin-right: 1%;
}

.help-box-right {
    float: right;
    color: black;
    position: relative;
    right: 5%;
    top: 10%;
    margin: 0;
    margin-left: auto;
    margin-right: 1%;
    border-left: 0;
    border: 5px solid black;
    background: whitesmoke;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0;
    text-align: left;
    box-shadow: 2px 2px 8px 8px rgba(39, 109, 200, 0.719);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    width: 100%;
    height: 75%;
    overflow-y: auto;
}

.small-text {
    font-size: 75%;
    margin: 0;
    padding: 0;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
}

.draggable {
    cursor: move;
}

.resize {
    pointer-events: painted;
}

.bottom-right {
    cursor:nwse-resize;
}

.bottom-left {
    cursor:nesw-resize;
}

.top-left {
    cursor:nwse-resize;
}

.top-right {
    cursor:nesw-resize;
}

line {
    pointer-events: none;
}

div.row[role=table] {  
    width: 100%;
    height: auto;
    padding-left: 0%;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background: rgba(99, 88, 94, 0.692);
    text-align: left;
    overflow: hidden;
}

.btnList {
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 1rem;
    border: 1rem;
    display: inline;
}

#progressBar {
    width: 75%;
    background-color: green;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    position: relative;
    float: center;
    transform: translateZ(0);
}

#mainBar {
    height: 30px;
    background-color:  grey; 
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    
}

.startAnimation {
    animation: growBar 1s linear;
    -webkit-animation: growBar 1s linear;
}

@keyframes growBar {
    from { transform: translateX(0%); }
    to { transform: translateX(100%); }
}

@-webkit-keyframes growBar {
    from { -webkit-transform: translateX(0%); }
    to { -webkit-transform: translateX(100%); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}