body,html{
    background-image: url('../images/webAppBackground.jpg');
    background-repeat: repeat-y;
    backface-visibility: visible;
    background-size: cover; 
    width: 100%;
    margin: 0%;
}

.title{
    border-top: 0cm;
    display: block;
    padding: 1rem;
    color: black;
    padding-left: 35%;
    padding-right: 35%;
    background-color: #e9ecef;
    font-size:2em;
    align-content: center;
}

p{
    font-size: 16px;
    color: white;
}
   
.body-background-area{
    background: #d6a874;
    background-size:cover;
    width: 100%;
    height: 85%;
    margin-left:auto;
    margin-right:auto;
    padding-top:1rem;
}

.loading{
    visibility:hidden; 
    margin-right:1rem;
    right: 0;
    margin-left: auto; 
    height: 10%;
    width: auto;
    position: absolute;
}
.alertBoxes{
    padding: 2px;
}
.alert{
    padding: 0;
}

.metadata:hover{
    cursor:copy;
}
.textbox{
    font: bold Courier serif;
    visibility: visible;
    letter-spacing: 3px
}
input.largeBox{
    left: 13rem;
    top: 16.5rem;
    transform: scale(1.75); 
}
.draw:hover{
    cursor: url("../images/pencilcursor.png"),auto;
}

.helpBtn{
    width: 3%; 
    height:auto;
    margin: 0;
}

.helpBtn:hover{
    cursor: pointer;
}

.image-image {
    display: inherit;
    margin: 0;
    top: 0%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: inherit;
}

.image-controls{
    position: absolute;
    width: 50%;
    margin-left: 0%;
    margin-right: 12%;
    display: block;
    align-content: left;
    padding-right:auto;
    padding: 0;
    left: 0rem;
    top: 4rem;
    padding-left: 0%;            
}

label{
    color: white;
}

.button {
    width:4.5rem;
    height: auto;
    background: #007150;
    color: white;
    border: 2px solid black !important;
}
.button:hover {
    background: rgba(0, 113, 79, 0.705);
    border: 2px solid rgba(0, 0, 0, 0.534) !important;
}

input[type=color]:hover{
    cursor: pointer;
    border: 1.5px double rgba(0, 0, 0, 0.452);
    background: white;
}

svg{ 
    position: relative;
    text-align: center;
    float: center; 
    top: 0; 
    left: auto;
    right: auto;
    margin-right: auto;
    margin-left: auto;
    border: 0%; 
}

.help-box{
    position: absolute;
    float: left;
    margin: 0;
    margin-left: 3%;
    margin-right: 2%;
    border: 5px solid black;
    background: whitesmoke;
    padding: 2rem;
    text-align: left;
    box-shadow: 2px 2px 8px 8px rgba(39, 109, 200, 0.719);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    width: 15%;
    height: 60%;
    overflow-y: auto;
}

.help-box-right{
    float: right;
    color: black;
    position: absolute;
    right: 5%;
    top: 30%;
    margin: 0;
    margin-left: auto;
    margin-right: 1%;
    border-left: 0;
    border: 5px solid black;
    background: whitesmoke;
    padding: 1rem;
    text-align: left;
    box-shadow: 2px 2px 8px 8px rgba(39, 109, 200, 0.719);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    width: 15%;
    height: 60%;
    overflow-y: auto;
}

.small-text{
    font-size: 75%;
    color: black;
}

.draggable{
    cursor: move;
}

.resize{
    pointer-events: painted;
}

.bottom-right{
    cursor:nwse-resize;
}

.bottom-left{
    cursor:nesw-resize;
}

.top-left{
    cursor:nwse-resize;
}

.top-right{
    cursor:nesw-resize;
}

li{
    
    padding-top:.5rem;
    padding-bottom: .5rem;
    right: 80%;
    padding-left: 2rem; 
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-left: 1rem;
    background: #63585e;
    text-align: left;
}
.btnList{
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 1rem;
    border: 1rem;
    display: inline;
}

#progressBar {
    width: 75%;
    background-color: green;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    position: relative;
    float: center;
    transform: translateZ(0);
  }

  #mainBar {
    height: 30px;
    background-color:  grey; 
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    
  }

  @keyframes growBar{
    from {transform: translateX(0%);}
    to {transform: translateX(99%);}
  }
  @-webkit-keyframes growBar{
    from {-webkit-transform: translateX(0%);}
    to {-webkit-transform: translateX(99%);}
  }