<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet", href="css/index.css" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Image Edit</title>

    <script type="module" src="static/html2canvas.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="static/dist/jquery.cropit.js"></script>

    <style>
        .image-editer{
            border: 1px solid #000000;
        }
        .image-controls{
            margin-left: 25%;        
        }
        .image-symbols{
            margin-left: 35%;
            background-color: #d9d9d9;
            border: 5px solid #000000;
            width: 400px;
        }
        .cropit-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 20px solid #000000;
            border-radius: 3px;
            margin-top: 7px;
            margin-left: 25%;
            width: 600px;
            height: 600px;
        }
        
        .cropit-preview-image-container {
            cursor: move;
        }
        
        .image-size-label {
            margin-top: 10px;
        }
        .export {
            display: block;
        }
        .button {
            margin-top: 10px;
        }
        .canvas-legend {
            height: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
          <h1>Display Image</h1>      
          <p class="lead">In this page, you can see the image extracted from cub file, and then download it in png format.</p>
          <a class="btn btn-primary btn-lg" href="/" role="button">Upload Another Cube File</a>
        </div>
    
    </div>

    <div id="metadata" style="display:none;"  class="text-center green-border-focus">
        <label for="metadata-text">
            <h2>Metadata Output</h2>
        </label>
        <textarea readonly id="metadata-text" class="form-control bg-white text-dark" style="resize: vertical; font-size: 22px;">{{DICTSTRING}}</textarea>
    </div>

    <div id="metadata-tags" style="display:none;" class="text-center green-border-focus">
        <label for="metadataTagArea">
            <h2>Metadata Tags</h2>
        </label>
        <textarea readonly id="metadataTagArea" class="form-control bg-white text-dark" style="resize: vertical; font-size: 22px;"></textarea>
    </div>
                                                                                        
    <div class="image-editor">
        <div class="image-controls" id="img-controls">
            <div class="image-size-label">
                Resize image
            </div>
            <input id="img-range" type="range" class="cropit-image-zoom-input">
            <button class="export">Export</button>
        </div>
        <div class="cropit-preview"></div>
    </div>

    <br/>

    <div class="image-symbols" id="img-symbols">
        <h2>Legend</h2>
        <table id="legend-table">
            <tr id="north">
                <th>North:</th>
                <th id="northDeg"></th>
                <th><canvas id="north-canvas" class="canvas-legend"></canvas></th>
            </tr>
            <tr id="sun-az">
                <th>Sun Azimuthal Direction:</th>
                <th id="sunDeg"></th>
                <th><canvas id="sun-canvas" class="canvas-legend"></canvas></th>
            </tr>
            <tr id="obs-az">
                <th>Observer Azimuthal Direction:</th>
                <th id="obsDeg"></th>
                <th><canvas id="obs-canvas" class="canvas-legend"></canvas></th>
            </tr>
            <tr id="image-scalebar" style="overflow:hidden;">
                <th>Scalebar:</th>
                <th id="range-1"></th>
                <th><canvas id="scalebar-canvas" class="canvas-legend"></canvas></th>
                <th id="range-2"></th>
            </tr>
        </table>
    </div>
    <div id="hide-legend" style="display:hidden; margin-left:35%;">
        <table>
            <tr><h4>Hide Legend Elements</h4></tr>
            <tr><input type="checkbox" id="north-radio" name="leg" checked>North Arrow</input><br/></tr>
            <tr><input type="checkbox" id="sun-radio" name="leg" checked>Sun Azimuthal Direction</input><br/></tr>
            <tr><input type="checkbox" id="obs-radio" name="leg" checked>Observer Azimuthal Direction</input><br/></tr>
            <tr><input type="checkbox" id="scalebar-radio" name="leg" checked>Scalebar</input><br/></tr>
        </table>
    </div>
        <button style="margin-left:45%;" onclick="exportLegend()">Export Legend</button>
    <br/>
    
    <form method="POST" action="/getImage" class="lg-form text-center">
        <div class=" form-group">
            <input type="hidden" value="{{IMG}}" name="passedIMG">
            <input type="submit" value="Download Full Image" class="btn btn-secondary btn-lg" />
        </div>
    </form>

    <div id="legend-export-div" style="margin-left:35%;">
    </div>
                                                                   
    <script>
        $(function() {
            $('.image-editor').cropit({
                maxZoom: 10,
                imageState: {
                    src: '{{IMG}}',
                },
            });
            $('.export').click(function() {
                var imageData = $('.image-editor').cropit('export');
                window.open(imageData);
            });
        });
    </script>
<script>
    function exportLegend(){
        var div = document.getElementById("legend-export-div");
        html2canvas(document.querySelector("#legend-table")).then(function(canvas) {
            document.getElementById("legend-export-div").append(canvas);        
            //document.body.appendChild(canvas);
        });
    }
</script>
<script>
    function hideNorth(){
        document.getElementById("north").style.display = "none";
        //console.log("Hiding North");
    }
    function showNorth(){
        document.getElementById("north").style.display = "table-row";
        //console.log("Showing North");
    }
    function hideSun(){
        document.getElementById("sun-az").style.display = "none";
    }
    function showSun(){
        document.getElementById("sun-az").style.display = "table-row";
    }
    function hideObs(){
        document.getElementById("obs-az").style.display = "none";
    }
    function showObs(){
        document.getElementById("obs-az").style.display = "table-row";
    }
    function hideScale(){
        document.getElementById("image-scalebar").style.display = "none";
        //console.log("Showinfgejnhfkjshdf");
    }
    function showScale(){
        document.getElementById("image-scalebar").style.display = "table-row";
        //console.log("actually show");
    }
    function showHide(){
        var northRadio = document.getElementById("north-radio").checked;
        var sunRadio = document.getElementById("sun-radio").checked;
        var obsRadio = document.getElementById("obs-radio").checked;
        var scalebarRadio = document.getElementById("scalebar-radio").checked;
        if(!northRadio){
            hideNorth();
        }else{
            showNorth();
        }
        if(!sunRadio){
            hideSun();
        }else{
            showSun();
        }
        if(!obsRadio){
            hideObs();
        }else{
            showObs();
        }
        if(!scalebarRadio){
            hideScale();
        }else{
            showScale();
        }
    }
    setInterval(showHide, 1000);
</script>
<script>
    var keys = [];
    var vals = [];
    // Gets All Metadata from the "metadata-text" div, and formats into two arrays. Keys and Vals.
    function getMetadata() {
        var metaDataString = document.getElementById("metadata-text").value;
        var metaDataArea = document.getElementById("metadataTagArea");
        metaDataString = metaDataString.split("{")[1];
        metaDataString = metaDataString.split("}")[0];
        var dataPairString = metaDataString.split(",");
        for (var i = 0; i < dataPairString.length; i++) {
            var dataToText = dataPairString[i].toString();
            var key = dataToText.split(":")[0];
            key = key.replace(/['"]+/g, '');
            var val = dataToText.split(":")[1];
            val = val.replace(/['"]+/g, '');
            keys.push(key);
            vals.push(val);
        }
        for(var j = 0; j < keys.length; j++) {
            keys[j] = keys[j].trim();
        }
        for (var k = 0; k < keys.length; k++) {
            var key = "[[" + keys[k] + "]]";
            var val = vals[k];
            var str = key + ": " + val + "\n";
            metaDataArea.value += str;
        }
        //console.log(keys);
        //console.log(vals);
    }
    getMetadata();
</script>
<script>
    window.onload = function(){
        // Cub Variables
        var northDegree = 0;
        var sunDegree = 0;
        var observerDegree = 0;
        var scale = 0;
        // Legend Icons
        var northImg = new Image();
        northImg.src = "/static/images/north.jpg";
        var sunImg = new Image();
        sunImg.src = "/static/images/sun_symbol.png";
        var obsImg = new Image();
        obsImg.src = "/static/images/eye_symbol.png";
        
        // Canvas Stuff
        var northCanvas = document.getElementById("north-canvas");
        var northCanvasCtx = northCanvas.getContext("2d");
        var sunCanvas = document.getElementById("sun-canvas");
        var sunCanvasCtx = sunCanvas.getContext("2d");
        var obsCanvas = document.getElementById("obs-canvas");
        var obsCanvasCtx = obsCanvas.getContext("2d");
        var scalebarCanvas = document.getElementById("scalebar-canvas");
        var scalebarCanvasCtx = scalebarCanvas.getContext("2d");
        
        // HTML Degree Stuff
        var norDeg = document.getElementById("northDeg");
        var sunDeg = document.getElementById("sunDeg");
        var obsDeg = document.getElementById("obsDeg");
        var scaleRange = document.getElementById("img-range");
        var range1 = document.getElementById("range-1");
        var range2 = document.getElementById("range-2");
        // Rotates North Arrow Image to inputted degree 
        function rotateNorth(degree){
            northCanvasCtx.clearRect(0, 0, northCanvas.width, northCanvas.height);
            // save the unrotated context of the canvas so we can restore it later
            // the alternative is to untranslate & unrotate after drawing
            northCanvasCtx.save();
            // move to the center of the canvas
            northCanvasCtx.translate(northCanvas.width/2, northCanvas.height/2);
            // rotate the canvas to the specified degrees
            northCanvasCtx.rotate(degree*Math.PI/180);
            // draw the image
            // since the context is rotated, the image will be rotated also
            northCanvasCtx.drawImage(northImg, (-northImg.width/2)+50, (-northImg.width/2)+50, 75, 75);
            // we’re done with the rotating so restore the unrotated context
        }
        // Draw Sun Arrow
        function sunArrow(degree){
            var x1 = (sunCanvas.width/2)+50;
            var y1 = (sunCanvas.height/2)+22;
            var leng = 75;
            var theta = (degree*Math.PI/180);
            sunCanvasCtx.drawImage(sunImg, (sunCanvas.width/2)-20, (sunCanvas.height/2)-20, 75, 75);
            sunCanvasCtx.moveTo(x1, y1);
            sunCanvasCtx.lineTo((x1+leng*Math.cos(theta)), (y1+leng*Math.sin(theta)));
            sunCanvasCtx.lineWidth = 5;
            sunCanvasCtx.stroke();
        }
        // Draw Observer Arrow
        function obsArrow(degree){
            var x1 = (obsCanvas.width/2)+50;
            var y1 = (obsCanvas.height/2)+22;
            var leng = 75;
            var theta = (degree*Math.PI/180);
            obsCanvasCtx.drawImage(obsImg, (obsCanvas.width/2)-20, (obsCanvas.height/2)-20, 75, 75);
            obsCanvasCtx.moveTo(x1, y1);
            obsCanvasCtx.lineTo((x1+leng*Math.cos(theta)), (y1+leng*Math.sin(theta)));
            obsCanvasCtx.lineWidth = 5;
            obsCanvasCtx.stroke();
        }
        // Draw Scalebar
        function scalebarDraw(scale, range){
            var wid = 600;
            var hi = 600;
            var x1 = 0;
            var y1 = 100;
            var x2 = 225;
            var y2 = 100;
            range1.innerHTML = 0;
            range2.innerHTML = scale + " m/pix";
            scalebarCanvasCtx.moveTo(x1, y1);
            scalebarCanvasCtx.lineTo(x2, y2);
            scalebarCanvasCtx.lineWidth = 10;
            scalebarCanvasCtx.stroke();
        }
        for(var i=0; i<keys.length; i++){
            console.log(keys[i]);
            if(keys[i] === "NorthAzimuth"){
                northDegree = vals[i];
                if(vals[i] !== "None"){
                    norDeg.innerHTML = northDegree + " degs";
                    northImg.onload = function(){i
                        console.log("Got North");
                        rotateNorth(northDegree+90);
                    }
                    //console.log("North Degree is:" + northDegree);
                }else{
                    norDeg.innerHTML = "N/A";
                    document.getElementById("north").checked = false;
                    console.log("North Degree Not Found");
                }
            }
            if(keys[i] === "SubSolarAzimuth"){
                sunDegree = vals[i];
                if(vals[i] !== "None"){
                    sunDeg.innerHTML = sunDegree + " degs";
                    sunImg.onload = function(){
                        sunArrow(sunDegree+90);
                        console.log("Got here");    
                    }
                }else{
                    sunDegree.innerHTML = "N/A"; 
                    console.log("Sun Degree Not Found");
                }
            }
            if(keys[i] === "SubSpacecraftGroundAzimuth"){
                observerDegree = vals[i];
                if(vals[i] !== "None"){
                    obsDeg.innerHTML = observerDegree + " degs";
                    obsImg.onload = function(){
                        obsArrow(observerDegree+90);    
                    }
                }else{
                    obsDeg.innerHTML = "N/A";
                    console.log("Observer Degree Not Found");
                }
            }
            if(keys[i] === "SampleResolution"){
                scale = vals[i];
                var factor = scaleRange.value;
                
                if(vals[i] !== "None"){
                    scalebarDraw(scale, factor);     
                }else{
                    scale = "N/A";
                    console.log("Observer Degree Not Found");
                }
            }
        }
    }
</script>
</body>