<!DOCTYPE html>
<html>
    <head>
        <title>PIPS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content="Chadd Frasier"/>
        <meta property="og:url" content="https://pips-usgs/"/>
        <meta property="og:title" content="Planetary Image Publication Server"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="A publication tool for researchers of planetary science"/>
        <meta name="robots" content="index,follow">
        <meta name="keywords" content="caption writer,USGS,usgs,Photo Editor,Figure,PIPS,pips,pips">

        <link rel="icon" href="images/usgsLogo.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/pips.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="js/index.js"></script>
    </head>
    <body style="overflow-x: hidden;">
        <!-- left -->
        <div class="mainbox-left" style="width: 15%; height: 100%; padding:0;">
            <!-- USGS Logo -->
            <img src="../images/usgsLogo.png" class="float-md-left" width="100%" height="auto" 
            style="margin: 0%; padding: 0%">
            <br>
            <!-- Help Box -->
            <div id="help-box" class="help-box float-left" 
            style="visibility: hidden; width:25%; bottom: 20%; position: absolute; margin-left: 1%; margin-right:0;">
                <button class="float-right button" id="hideBtn" 
                style="width: 1.75rem; min-width:1.75rem; min-height:1.75rem; height:auto; border-radius: 5px; 
                border: 1px solid red; background-image: linear-gradient(lightblue,rgba(50, 50, 255, 0.685));
                background-color: rgba(39, 109, 200); color: darkred;">
                    &times;
                </button>
                <div class="container title" style="background: whitesmoke; ">
                    <cite>Upload Walkthough</cite>
                </div>
                <div class="row lead">
                     1. Select the cube or tiff file you would like to use in your figure. (No Larger than 2GB)
                    <p class="small-text">Uploading a .tif file will take longer than a cube file</p>
                </div>
                <br/>
                <div class="row lead" style="display: inline;">
                     2. Select the figure and image size from the buttons in the box<br/><br/>
                                       2a. Leave both boxes blank to default to 500dpi at 3 inches.<br/><br/>
                                       2b. You can also input custom dimensions smaller that 5000 px in both directions
                </div>
                <br/>
                <br/>
                <div class="row lead">
                    3. If you would like to view the ISIS Process outputs check the 'Log To File' checkbox in the options box.
                </div>
                <br/>
                <div class="row lead"> 4. Select a template file default from the option buttons or upload your own.
                    <a href="/tpl" style="background-color: transparent;">
                        What is a Template File?</a> <br/>
                    <p class="small-text"> (leave it blank to start with the server default)</p>
                </div>
                
                <br/>
                <div class="row lead"> 5. Click Upload.</div>
            </div>
        </div>

        <!-- center -->
        <div class="mainbox-center" style="width: 75%; height: 100%; background-color: rgba(99,88,94,0.65); padding: 1rem;
        margin: 0 0 0 15%; border: 3px solid rgba(255, 255,255, .65)">
            <div class="row">
                <div class="text-center stroke-wide" style="border: 0px solid black; margin: auto auto;">
                    <h1 class="display-4" style="border: 0px solid blue;">Planetary Image Publication Server</h1>
                    <h4 class="display-5" style="color: white">
                        <a href="https://isis.astrogeology.usgs.gov/index.html" class="text-stroke" 
                        title="Learn More" style="background-color: transparent; font-size: 125%; color: white">
                            Powered by ISIS3
                        </a>
                    </h4>
                </div>
            </div>
            <div class="row" style="margin-bottom: .5%;">
                <br/>
                <div class="title text-center" style="width: 75%; border: 5px solid black; background: #e7c492;
                padding-left: 0; padding-right:0; margin:auto auto;">
                    <p class="lead" style="margin-left: auto; margin-right: auto; width:100%;padding:0;
                    font-size: 2rem; color: black;">
                        Upload a .cub or .tif file to begin.
                    </p>
                    <a id="helpBtn" class="btn btn-primary btn-lg" title="Get Started" 
                    style="border: 2px solid black; color: white;" role="button" onclick="showHelp(this)">Help</a>
                    <a class="btn btn-primary btn-lg" style= "border: 2px solid black; color: white;" 
                    title="Template File" href= '/tpl' role="button">
                        What is a TPL file?
                    </a>
                </div>
            </div>
            <br/>
            <div class="row" style="height: 80%;">
                <!-- Input Area -->
                <div class="container float-center" style="margin-left:auto; margin-right: auto;">
                    <form name="uploadForm" class="text-center" action="/captionWriter" method="POST" 
                    enctype="multipart/form-data">
                        <div class="row" style="margin-bottom: 1%; height: 20%;">
                            <div class="btn btn-dark btn-lg form-group" 
                            style="color:black; margin: auto auto; display:inline-block;
                            background:#e7c492; border: 5px solid black;">
                                <label for="cubUpload" style="font-size: x-large; color:black;">
                                    <cite>Choose an ISIS Cube or TIFF File</cite>
                                </label>
                                <input name="uploadFile" accept=".cub, .tif, .tiff, .TIF, .TIFF, .CUB"
                                id="cubUpload" style="padding-bottom:1rem;" type="file" class="form-control-file"/>
                            </div>
                        </div>
                         <!-- Options -->
                        <div class="row" style="padding: 1%; color: black; margin: auto auto; background: #e7c492;
                          display:none; border: 5px solid black; width: 102%;" id="optionBox">
                          <div class="col-8" style="width: 75%; margin: 0; padding: 0;">
                            <div class="row" style="width: 100%; text-align: center;">
                                <div class="col-2" style="width:85%;">                                        
                                    <label id="logCheckboxLabel" for="logCheckbox" 
                                    style="color:black; margin: auto auto;">
                                        <cite style="font-size: 95%; padding-top: 10%;">Log ISIS Output to File?</cite>
                                    </label>
                                </div>
                                <div class="col-5" style="text-align: right">
                                    <h4 style="margin: auto auto; margin-top: 0;">Options</h4>
                                </div>
                                <div class="col-5"></div>
                            </div>
                            <div class="row" style="width: 100%; height: 30%;">
                                <div class="col-2" style="padding: 1%; padding-top:5%;">
                                    <div class="row">
                                        <div class="col-2" style="padding: 0; padding-left: 15%; padding-top: 3%;">Off</div>
                                        <div class="col-6" style="padding: 0; padding-left: 10%;">
                                            <label class="switch index" style="right: 0;">
                                                <input type="checkbox" id="logCheckbox" name="logToFile" title="Shift + Alt + N">
                                                <span class="slider round" id="logAnimation"></span>
                                            </label> 
                                        </div>
                                        <div class="col-4" style="padding: 0; padding-top: 3%;">On</div>
                                    </div>  
                                </div>
                                <div class="col-10">
                                    <div class="row" style="text-align: center; width: 90%; margin: auto auto; margin-bottom: 0; display: flex;">
                                        <div class="col" style="text-align: center; width: auto; margin: 1%;
                                        padding-right: 0; display: flex; border-bottom: 1px solid black">
                                            <h5 style="margin-left:0; margin-right: auto;">Journal</h5>
                                        
                                            <h5 style="margin-left:auto; margin-right: auto;">Figure Size (500dpi)</h5>
                                        </div>
                                    </div>
                                    <div class="row" style="width: 100%;">
                                        <div class="col-3">
                                            <button type="button" id="journalOption1" class="btn btn-lg button"
                                            style="width: 100%; margin:auto auto; padding: 2%; font-size: 75%;"
                                            title="Elsevier">
                                                Elsevier
                                            </button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j1Option1" class="journal btn btn-lg button" 
                                            style="visibility: hidden; width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 65%;">Single Column</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j1Option2" class="journal btn btn-lg button" 
                                            style="visibility: hidden; width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 75%;">1.5 Column</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j1Option3" class="journal btn btn-lg button" 
                                            style="visibility: hidden; width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 65%;">Double Column</button>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row" style="width: 100%;">
                                        <div class="col-3">
                                            <button type="button" id="journalOption2" class="btn btn-lg button"
                                            style="width: 100%; margin:auto auto; padding: 2%; font-size: 85%;"
                                             title="American Geophysical Union">
                                                AGU
                                            </button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j2Option1" class="journal btn btn-lg button" 
                                            style="visibility: hidden;width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 75%;">1/4 Page</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j2Option2" class="journal btn btn-lg button" 
                                            style="visibility: hidden;width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 75%;">1/2 Page</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j2Option3" class="journal btn btn-lg button" 
                                            style="visibility: hidden;width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 75%;">Full Page</button>
                                        </div>
                                    </div>
                                    <!--
                                    <br/>
                                    <div class="row" style="width: 100%;">
                                        <div class="col-3">
                                            <button type="button" id="journalOption2" class="btn btn-lg button"
                                            style="width: 100%; margin:auto auto; padding: 2%; font-size: 75%;">
                                                NEW JOURNAL
                                            </button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j2Option1" class="btn btn-lg button" 
                                            style="visibility: hidden;width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 85%;">NEW CHOICE 1</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j2Option2" class="btn btn-lg button" 
                                            style="visibility: hidden;width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 85%;">NEW CHOICE 2</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j2Option3" class="btn btn-lg button" 
                                            style="visibility: hidden;width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 85%;">NEW CHOICE 3</button>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>   
                   
                        <div class="col-4" style="width: 25%; margin:0; padding: 2%;">
                            <div class="container" id="dimensionInput"
                            style="width:auto; visibility: visible; border-top:0;color: black; margin: auto auto;
                                background: #e7c492; border: 5px solid black;">
                                <div class="form-group float-center" 
                                style="width: 100%;color: black;">
                                    <div class="col">
                                        <label for="widthInput" style="color: black;">
                                            Width of output (pixels)
                                        </label>
                                        <input class="form-control form-control-sm text-center" type="text" 
                                        id="widthInput" name="desiredWidth" placeholder="Output Width (px)"
                                        title="Output Width"/>
                                    </div>
                                    <div class="col">
                                        <label for="heightInput" style="color: black;">
                                            Height of output (pixels)
                                        </label>
                                        <input class="form-control form-control-sm text-center"
                                        type="text" id="heightInput" name="desiredHeight" 
                                        placeholder="Output Height (px)" title="Output Height"/>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                        <!-- Template upload-->
                        <div class="row" style="height: 40%;">
                            <input id="tplCode" name="tplCode" type="number" style="display: none;" value="0">
                            <div class="btn btn-dark btn-lg form-group" 
                            style="color: black; margin: auto auto; background: #e7c492; border: 5px solid black;">
                                <label for="tplUpload" style="font-size: larger; color:black;
                                border-bottom: 2px solid black;">
                                    Choose a Template File
                                </label>
                                <div class="row">
                                    <div class="col">
                                        <label for="mosaicBtn" style="font-size: medium; color:black;">
                                            Template 1
                                        </label>
                                        <br/>
                                        <button type="button" id="mosaicBtn" class="template btn btn-md button" 
                                        style="width: 100%; max-width:none; font-size: small">Mosaic</button>
                                    </div>
                                    <div class="col">
                                        <label for="mapProjectedBtn" style="font-size: medium; color:black;">
                                                Template 2
                                        </label>
                                        <br/>
                                        <button type="button" class="template btn btn-md button" style="width: 100%;  max-width:none; font-size: small;"
                                         id="mapProjectedBtn">Map Projected</button>
                                    </div>
                                    <div class="col">
                                        <label for="compositeBtn" style="font-size: medium; color:black;">
                                                Template 3
                                        </label>
                                        <br/>
                                        <button type="button" class="template btn btn-md button" style="width: 100%;  max-width:none; font-size: small"
                                        id="compositeBtn">Composite</button>
                                    </div>
                                    <!-- Placeholder buttons for more templates later -->
                                    <div class="col" style="display: none">
                                        <label for="otherBtn" style="font-size: medium; color:black;">
                                                Template 4
                                        </label>
                                        <br/>
                                        <button type="button" class="template btn btn-md button" style="width: 100%"
                                        id="otherBtn">Choice 4</button>
                                    </div>
                                    <!-- Placeholder buttons for more templates later -->
                                    <div class="col" style="display: none">
                                        <label for="other2Btn" style="font-size: medium; color:black;">
                                                Template 5
                                        </label>
                                        <br/>
                                        <button type="button" class="template btn btn-md button"style="width: 100%"
                                         id="other2Btn">Choice 5</button>
                                    </div>
                                </div>
                                <div class="col">
                                        <label for="tplUpload" 
                                        style="font-size: larger; margin: auto auto;
                                        color:black; border-bottom: 2px solid black;">
                                            Custom Upload
                                        </label>
                                    <input name="templateFile" id="tplUpload" accept=".tpl"
                                    style="margin-left:auto;margin-right:auto;" type="file" 
                                    class="form-control-file"/>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Submit button -->
                        <div class="row" style="height: 10%; margin-top: 1%;">
                            <input type="button" class="btn button btn-lg" name="SubmitCube" value="Upload" 
                                style="width: auto; margin:auto auto;  font-size: small; border: 1px solid black;" 
                                title="Submit Upload" onclick="loaderActivate()" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Loading Gif-->
        <div id="loading" class="text-center loading float-center" style="margin: auto auto; left: 0%; width: 100%;">
            <img src="../images/loading.gif" class='float-center' height="auto" width="40%"/>
            <br>
            <h3 style="color: white; text-align: center; margin-left: 1rem;">Loading</h3>
        </div>
        <!-- EJS javascript code variable -->
        <div id="pageVariable" style="display: none;">
            <p id="alertCode"><%= alertCode %></p>
        </div>

        <!-- right-->
        <div class="mainbox-right">
            <!-- Alert Boxes -->
            <div id="info-alert" style= "visibility:hidden; position:absolute; right: 0; top: 45%;" 
            class = "alert alert-success text-center alertBoxes">
                <button id="infoBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                    &times;
                </button>
                Upload a .cub file
            </div>
            
            <div id="fail-alert" style= "visibility:hidden; position:absolute; top: 66%; right: 0%;" 
            class = "alert alert-primary text-center">
                <button id="failBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                    &times;
                </button>
                Previous User has no server data. Start with Upload.
            </div>
            <div id="fail-image" style= "visibility:hidden; position:absolute; right:0; top: 59%;" 
            class = "alert alert-danger text-center">
                <button id="failImageBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                    &times;
                </button>
                Failed to create image from Upload.
            </div>
            <div id="fail-upload" style= "visibility:hidden; position:absolute; right: 0; top: 59%;" 
            class = "alert alert-danger text-center">
                <button id="failUploadBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                    &times;
                </button>
                Failed to Upload.
            </div>
            <div id="tplAlert" style= 'visibility:hidden; position:absolute;right: 0; top: 52%;' 
            class = "alert alert-success text-center" role="alert">
                <button id="tplBtn" class = "close" data-dismiss = "alert" aria-hidden = "true" 
                onclick="setNotVisible(this)">
                    &times;
                </button>
                        
                Template must be (.tpl) or left blank.
            </div>
    
            <div id="server-timeout" style= 'visibility:hidden; position:absolute; top: 66%; right: 0%;' 
            class = "alert alert-primary text-center" role="alert">
                    <button id="timeBtn" class = "close" data-dismiss = "alert" aria-hidden = "true" 
                    onclick="setNotVisible(this)">
                    &times;
                    </button>
                            
                    Unknown User: Please Upload a Cube to Begin.
                </div>
    
            <div id="server-isis" style= 'visibility:hidden; position:absolute; top: 8%; right: 0%;' 
            class = "alert alert-dark text-center" role="alert">
                <button id="timeBtn" class = "close" data-dismiss = "alert" aria-hidden = "true" 
                onclick="setNotVisible(this)">
                    &times;
                </button>
                        
                Server Error: ISIS3 is not running.
            </div>
        </div>
    </body>
</html>
