<!DOCTYPE html>
<html>
    <head>
        <title>PIPS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content="Chadd Frasier"/>
        <meta property="og:url" content="https://pips-usgs/"/>
        <meta property="og:title" content="Planetary Image Publication Server"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="A publication tool for researchers of planetary science"/>
        <meta name="robots" content="index,follow">
        <meta name="keywords" content="caption writer, USGS, usgs, Photo Editor, Figure, PIPS">

        <link rel="icon" href="images/usgsLogo.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/pips.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="js/index.js"></script>
    </head>
    <body>
        <!-- left -->
        <div class="mainbox-left" style="width: 15%; height: 100%; padding:0;">
            <!-- USGS Logo -->
            <img src="../images/usgsLogo.png" class="float-md-left" width="100%" height="auto" 
            style="margin: 0%; padding: 0%">
            <br>
            <!-- Help Box -->
            <div id="help-box" class="help-box float-left" 
            style="visibility: hidden; width:15%; bottom: 10%; position: absolute; margin-left: 1%; margin-right:0;">
                <button class="float-right button" id="hideBtn" 
                style="width: auto; min-width:2rem; height:auto; border-radius: 5px; 
                border: 1px solid red; background-image: linear-gradient(lightblue,rgba(50, 50, 255, 0.685));
                background-color: rgba(39, 109, 200); color: darkred;">&times;</button>
                <div class="container title" style="background: whitesmoke; "><u>Help</u></div>
                <div class="row lead">
                     1. Select the cube or tif file you would like to use in your figure. (No Larger than 2GB)
                    <p class="small-text">Uploading a .tif file will take longer than a cube</p>
                </div>
                <br/>
                <div class="row lead" style="display: inline;">
                     2. Input your desired output dimensions (W&times;H)in pixels.
                    <br/>
                    <br/>
                                       2a. Input Width <u>or</u> Height to have the other dimension calculated for you.
                                        (W&times;_) or (_&times;H) <br/> 
                    <p class="small-text">
                        It's suggested that you don't use a pixel dimension larger than your monitor.</p>
                                       2b. Leave both boxes blank to default to 300dpi at 3 inches.
                </div>
                <br/>
                <br/>
                <div class="row lead"> 3. Select a template file to use.
                    <a href="/tpl" style="background-color: transparent;">
                        What is a Template File?</a> <br/>
                    <p class="small-text"> (leave it blank to start with a server preset)</p>
                </div>
                <br/>
                <div class="row lead">
                     4. If you would like to view the ISIS Process outputs check the 'Log To File' box.
                    </div>
                <br/>
                <div class="row lead"> 5. Click Upload.</div>
            </div>
        </div>

        <!-- center -->
        <div class="mainbox-center" style="width: 75%; background-color: rgba(99,88,94,0.65); padding: 1rem;
        margin: 0 0 0 15%; border: 3px solid rgba(255, 255,255, .65)">
            <div class="row">
                <div class="text-center stroke-wide" style="border: 0px solid black; margin: auto auto;">
                    <h1 class="display-4" style="border: 0px solid blue;">Planetary Image Publication Server</h1>
                    <h4 class="display-5" style="color: white">
                        <a href="https://isis.astrogeology.usgs.gov/index.html" class="text-stroke" 
                        title="Learn More" style="background-color: transparent; font-size: 125%; color: white">
                            Powered by ISIS3
                        </a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <br/>
                <div class="title text-center" style="width: 75%; border: 5px solid black; background: #e7c492;
                padding-left: 0; padding-right:0; margin:auto auto;">
                    <p class="lead" style="margin-left: auto; margin-right: auto; width:100%;padding:0;
                    font-size: 2rem; color: black;">
                        Upload a .cub or .tif file to begin.<p class="small-text" style="font-size: 65%">
                            (.tpl upload is optional)</p> 
                    </p>
                    <a id="helpBtn" class="btn btn-primary btn-lg" title="Get Started" 
                    style="border: 2px solid black; color: white;" role="button" onclick="showHelp(this)">Help</a>
                    <a class="btn btn-primary btn-lg" style= "border: 2px solid black; color: white;" 
                    title="Template File" href= '/tpl' role="button">
                        What is a TPL file?
                    </a>
                </div>
            </div>
            <br/>
            <div class="row">
                <!-- Input Area -->
                <div class="container float-center" style="margin-left:auto; margin-right: auto;">
                    <form name="uploadForm" class="text-center" action="/captionWriter" method="POST" 
                    enctype="multipart/form-data">
                        <div class="row">
                            <div class="btn btn-dark btn-lg form-group" 
                            style="color:black; margin: auto auto; display:inline-block;
                            background:#e7c492; border: 5px solid black;">
                                <label for="cubUpload" style="font-size: x-large; color:black;">
                                    Choose an ISIS Cube or TIFF File
                                </label>
                                <input name="uploadFile" id="cubUpload" style="padding-bottom:1rem;"
                                type="file" class="form-control-file" />

                                <div class="form-group float-center" 
                                style="padding-left: 7rem; padding-right:0;padding-top: -1rem;
                                width: 17rem;color: black;">
                                    <input class="form-control form-control-sm text-center" type="text" id="widthInput"
                                    name="desiredWidth" placeholder="Output Width (Px)" title="Output Width"/>
                                    <input class="form-control form-control-sm text-center"
                                    type="text" id="heightInput" name="desiredHeight" placeholder="Output Height (Px)"
                                    title="Output Height"/>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <!-- Template upload-->
                        <div class="row">
                            <div class="btn btn-dark btn-lg form-group" 
                            style="color: black; margin: auto auto; background: #e7c492; border: 5px solid black;">
                                <label for="tplUpload" style="font-size: larger; color:black;">
                                    Choose a Template File
                                </label>
                                <input name="templateFile" id="tplUpload" type="file" class="form-control-file" />
                            </div>
                        </div>
                        <br/>
                        <!-- Options -->
                        <div class="row" style="padding: 2%; color: black; margin: auto auto; background: #e7c492;
                         border: 5px solid black;">
                            <div class="row" style="width: 100%; text-align: center;">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <h2 style="margin: auto auto; margin-top: 0;">Options</h2>
                                </div>
                                <div class="col-4"></div>    
                            </div>
                            <div class="row" style="width: 100%;">
                                <div class="col-2">
                                    <label id="logCheckboxLabel" for="logCheckbox" 
                                    style="color:black;margin-top:0; margin-bottom:auto;">
                                        Log ISIS Output to File?
                                    </label>
                                    <input title="Log ISIS Output to File?" class="form-check-input largeBox" 
                                    name="logToFile" type="checkbox" id="logCheckbox"
                                    style=" margin-right:auto; position: relative; top:10%; margin-bottom:auto;">
                                </div>
                                <div class="col-10">
                                    <div class="row" style="text-align: center; width: 90%; margin: auto auto;">
                                        <div class="col" style="margin-right: 2%; width: 25%;">
                                            <h5>Journal</h5>
                                        </div> 
                                        <div class="col-10" style="margin-left:2%; text-align: center; width: 75%;
                                        border-bottom: 1px solid black; padding-right: 0; left: 4%; margin-bottom:1%;">
                                            <h5>Figure Size</h5>
                                        </div>
                                    </div>
                                    <div class="row" style="width: 100%;">
                                        <div class="col-3">
                                            <button type="button" id="journalOption1" class="btn btn-lg button"
                                            style="width: 100%; margin:auto auto; padding: 2%; font-size: 85%;">
                                                Elsevier
                                            </button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j1Option1" class="btn btn-lg button" 
                                            style="visibility: hidden; width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 85%;">Single Column</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j1Option2" class="btn btn-lg button" 
                                            style="visibility: hidden; width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 85%;">1.5 Column</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j1Option3" class="btn btn-lg button" 
                                            style="visibility: hidden; width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 85%;">Double Column</button>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row" style="width: 100%;">
                                        <div class="col-3">
                                            <button type="button" id="journalOption2" class="btn btn-lg button"
                                            style="width: 100%; margin:auto auto; padding: 2%; font-size: 75%;">
                                                American Geophysical Union
                                            </button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j2Option1" class="btn btn-lg button" 
                                            style="visibility: hidden;width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 85%;">1/4 Page</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j2Option2" class="btn btn-lg button" 
                                            style="visibility: hidden;width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 85%;">1/2 Page</button>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="j2Option3" class="btn btn-lg button" 
                                            style="visibility: hidden;width: 100%; margin:auto auto; 
                                            padding: 2%; font-size: 85%;">Full Page</button>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        </div>
                        <br/>
                        <!-- Submit button -->
                        <div class="row">
                            <input type="button" class="btn button btn-lg" name="SubmitCube" value="Upload" 
                                style="width: 10%; margin:auto auto; border: 1px solid black;" 
                                title="Submit Upload" onclick="loaderActivate()" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- EJS javascript code variable -->
        <div id="pageVariable" style="display: none;">
            <p id="alertCode"><%= alertCode %></p>
        </div>

        <!-- right-->
        <div class="mainbox-right">
            <!-- Loading Gif-->
            <div id="loading" class="text-center loading">
                <img src="../images/loading.gif" class='float-center;' height="100%" weight="auto"/>
                <br>
                <h3 style="color: white; text-align: center; margin-left: 1rem;">Loading</h3>
            </div>
            <!-- Alert Boxes -->
            <div id="info-alert" style= "visibility:hidden; position:absolute; right: 0; top: 45%;" 
            class = "alert alert-success text-center alertBoxes">
                <button id="infoBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                    &times;
                </button>
                Upload a .cub file
            </div>
            
            <div id="fail-alert" style= "visibility:hidden; position:absolute; top: 66%; right: 0%;" 
            class = "alert alert-primary text-center">
                <button id="failBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                    &times;
                </button>
                Previous User has no server data. Start with Upload.
            </div>
            <div id="fail-image" style= "visibility:hidden; position:absolute; right:0; top: 59%;" 
            class = "alert alert-danger text-center">
                <button id="failImageBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                    &times;
                </button>
                Failed to create image from Upload.
            </div>
            <div id="fail-upload" style= "visibility:hidden; position:absolute; right: 0; top: 59%;" 
            class = "alert alert-danger text-center">
                <button id="failUploadBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                    &times;
                </button>
                Failed to Upload.
            </div>
            <div id="tplAlert" style= 'visibility:hidden; position:absolute;right: 0; top: 52%;' 
            class = "alert alert-success text-center" role="alert">
                <button id="tplBtn" class = "close" data-dismiss = "alert" aria-hidden = "true" 
                onclick="setNotVisible(this)">
                    &times;
                </button>
                        
                Template must be (.tpl) or left blank.
            </div>
    
            <div id="server-timeout" style= 'visibility:hidden; position:absolute; top: 66%; right: 0%;' 
            class = "alert alert-primary text-center" role="alert">
                    <button id="timeBtn" class = "close" data-dismiss = "alert" aria-hidden = "true" 
                    onclick="setNotVisible(this)">
                    &times;
                    </button>
                            
                    Unknown User: Please Upload a Cube to Begin.
                </div>
    
            <div id="server-isis" style= 'visibility:hidden; position:absolute; top: 8%; right: 0%;' 
            class = "alert alert-dark text-center" role="alert">
                <button id="timeBtn" class = "close" data-dismiss = "alert" aria-hidden = "true" 
                onclick="setNotVisible(this)">
                    &times;
                </button>
                        
                Server Error: ISIS3 is not running.
            </div>
        </div>
    </body>
</html>
