<html>
    <head>

        <title>Template Help</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../css/pips.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script type="text/javascript"
                src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    </head>

    <body>
        <div class="jumbotron jumbotron-fluid text-center" style="padding: 1%;">
            <h1 class="display-6"> Template Files</h1>
            <p class="lead">.tpl is a special text file for this server.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/"
                    role="button">Back</a>
            </p>
        </div>


        <div id="tplRaw" style="display: none"><%= tplData %></div>

        <div class="jumbotron-fluid jumbotron text-center" style="background-color: lightgray;">
            <h2>Template Files (.tpl)</h2>
            <div class="lead jumbotron" id="textbox"></div> 
        </div>
    </body>

    
    <script type="text/javascript">
    // script to read the template help raw text and turns it into html DOM elements
        var tplData = document.getElementById("tplRaw").innerHTML;
        var textbox = document.getElementById("textbox");
        let tmpArr = tplData.split('\n');

        function setOutput(array){
            // loop over the remaining array
            for(index in array){
                if(array[index] === ''){
                    // create a break
                    let br = document.createElement("br");
                    textbox.appendChild(br);
                }
                else{
                    let h4 = document.createElement("h5");
                    // look for <u> tags
                    if(array[index].indexOf("&lt;u&gt;") !== -1){
                        let tmp = array[index].split("&lt;u&gt;")[1];
                        let u = document.createElement("u");
                        u.innerHTML = tmp;
                        h4.appendChild(u);
                        textbox.appendChild(h4);

                    }else{
                        h4.innerHTML = array[index];
                        textbox.appendChild(h4);
                    }
                }
            }
        }
        // make the call
        setOutput(tmpArr);
    </script>


</html>