<!DOCTYPE html>
<html>
    <head>

        <title>Template Help</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Template Help Page">

        <link rel="stylesheet" type="text/css" href="/css/pips.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <img src="../images/usgsLogo.png" class="float-md-left" width="15%" height="auto"
            style="margin: 0%; padding: 0%">

        <div class="jumbotron jumbotron-fluid text-center" 
        style="padding: 0%;padding-top:1%; background:rgba(99, 88, 94, 0.698);
         width: 50%; margin: auto auto; border: 2px solid rgba(255, 255, 255, .65);">
            <h1 class="display-6 stroke-wide"> Template Files</h1>
            <p class="lead text-stroke-small">(.tpl files)</p>
            <p class="lead">
                <a class="btn btn-primary btn-md button" style="color: white;" href="/"
                    role="button">Back</a>
            </p>
        </div>

        <div class="jumbotron-fluid jumbotron text-center" 
        style="background-color: transparent; padding: 1%; overflow: hidden;">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 lead jumbotron float-center" id="textbox" style="padding:1%;border:2px solid black;">
                    <h2>Template Files</h2>
                    A template for the PIP Server is a text file that has ISIS3 data keys or names inside the actual 
                    figure description. The server reads in the tpl file and exchanges all the data keys with the
                    actual data values from the ISIS3 header.
                    <br><br>
                    <u><i>Note: The best way to create these files is by saving them from the server</i></u>
                </div>
            </div>
            <div class="row">
                <div class=" col-5 jumbotron float-center" id="textbox" 
                style="padding: 1%; height: fit-content; border: 2px solid black;">
                    <h4 class="lead title font-weight-bold">example.tpl</h4>
                    This image of the 
                    <b class="font-weight-bold">TargetName</b> 
                    was taken with the <b class="font-weight-bold">INSTRUMENT_NAME</b> on 
                    <b class="font-weight-bold">StartTime</b>. This image shows a scale of 
                    <b class="font-weight-bold">IsisCube.Mapping.PixelResolution</b> and was taken 
                    at an altitude of <b class="font-weight-bold">GroundPoint.SpacecraftAltitude</b> 
                    above the surface of the surface.
                </div> 
                <div class="col-2" style=" padding: 1%; padding-left: 0; padding-right: 0; height: 90%;
                 margin: 0; margin-top: auto; margin-bottom: auto;">
                    <svg viewBox = "0 0 600 175">
                        <path d="M 150 55 L 150 105 L 350 105 L 350 155 L 500 80 L 350 5 L 350 55" stroke="black"
                        stroke-width="5" />
                        <text x="525" y="90" font-size="35">Data</text>
                        <text x="0" y="90" font-size="35">Template</text>
                    </svg>
                </div>
                <div class=" col-5 jumbotron float-center" id="textbox" 
                style="padding: 1%; height: fit-content;border: 2px solid black;">
                    <h4 class="lead title font-weight-bold">Caption Output</h4>
                    This image of the <b class="font-weight-bold">MOON</b> was taken with the
                    <b class="font-weight-bold">LUNAR RECONNAISSANCE ORBITER CAMERA</b> on 
                    <b class="font-weight-bold">2018-12-09T01:23:44.494</b>.
                    This image shows a scale of 
                    <b class="font-weight-bold">0.80618609186356</b> 
                    and was taken at an altitude of 
                    <b class="font-weight-bold">53.787952344855</b> above the surface of the surface.
                </div> 
            </div>
        </div>
    </body>
</html>