<!DOCTYPE html>
<html>

<head>
    <title>Caption Writer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/index.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div id="data-output">
            <div class="jumbotron jumbotron-fluid text-center">
                <h1 class="display-4">Upload Successfully! Output ISIS3 Metadata</h1>
                <p class="lead">Go ahead and feel free to edit it, FINALLY EXPORT IT!</p>
                <a class="btn btn-primary btn-lg" href="/" role="button">Upload Another Cube File</a>
            </div>

        <div class="container">
            <div id="template" class="text-center form-group">
                <label for="template-text">
                    <h3 class="display-5 alert alert-secondary">Template Text</h2>
                </label>
                <textarea id="template-text" class="form-control bg-white text-dark" rows="7"
                    style="resize: vertical; font-size: 22px; "> <%= templateText %> </textarea>
            </div>
            <br>
            <br>
            <div id="metadata"  style = "display: none;" class="text-center green-border-focus">
                <label for="metadata-text">
                    <h2>Metadata Output DICTSTRING </h2>
                </label>
                <textarea readonly id="metadata-text" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"><%= dictionaryString %></textarea>
            </div>
            
            <div id="tags"  style = "display: none;" class="text-center green-border-focus">
                <label for="all-tag-text">
                    <h2>All Tag Info CSVSTRING</h2>
                </label>
                <textarea readonly id="all-tag-text" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"><%= csvString %></textarea>
            </div>

            <div id="metadata-tags"  style = "display: none;" class="text-center green-border-focus">
                <label for="metadataTagArea">
                    <h2>Metadata Tags</h2>
                </label>
                <textarea readonly id="metadataTagArea" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"></textarea>
            </div>

            <div id="important-tags" style = "display: none;" class="text-center green-border-focus">
                <label for="allTagArea">
                    <h2>allTagArea</h2>
                </label>
                <textarea readonly id="allTagArea" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"></textarea>
            </div>
            
            <div id="test-metadata" class="text-center form-group">
                <label for="test">
                    <h3 class="display-5 alert alert-secondary">Current Tags</h2>
                </label>
                <textarea readonly id="test" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;" rows="7"></textarea>
                <button id="button-more-tags" onclick="showMoreTags()">Show Important Tags</button>
            </div>
            <br>
            <br>

            <div id="template-output" class="text-center form-group">
                <label for="template-text-output">
                    <h3 class="display-5 alert alert-secondary">Template Text Output</h2>
                </label>
                <textarea readonly id="template-text-output" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;" rows="7"></textarea>
            </div>
        </div>
        <br>
        <br>
        <form method="POST" action="/getCSV" class="lg-form text-center">
            <div class="form-group">
                <input type="hidden" value="{{CSVDOWNLOAD}}" name="passedTXT">
                <input type="submit" value="Download Metadata" class="btn btn-primary btn-lg" />
            </div>
        </form>
        <br>
        <form method="POST" action="/showImage" class="lg-form text-center">
            <div class=" form-group">
                <input type="hidden" value="{{IMG}}" name="image_present">
                <input type="hidden" value= '<%= dictionaryString  %>' name="image_string">
                <input type="submit" value="Display Image" class="btn btn-primary btn-lg" />
            </div>
        </form>



        <br>

        <form class="lg-form text-center">
            <div class="form-group">
                <a class="btn btn-primary text-white btn-lg" role="button" id="link" download="template.txt">Download
                    Caption</a>
            </div>
        </form>

    </div>

    <br>
    <br>
    <script>
        var keys = [];
        var vals = [];
        var imptKeys = [];
        var imptVals = [];
        template = document.getElementById("template-text");
        // templateText = template.value;
        // text = templateText;
        text = template.value;
        function setOutput() {
            var getTemplate = document.getElementById("template-text").value;
            document.getElementById("template-text-output").innerHTML = getTemplate;
        }
        // Gets important keys and values
        function getMetadata() {
            var metaDataString = document.getElementById("metadata-text").value;
            var metaDataArea = document.getElementById("metadataTagArea");
            metaDataString = metaDataString.split("{")[1].split("}")[0];
            var dataPairString = metaDataString.split(",");
            //'StartTime': '1997-10-20T10:58:37.46'
            for (var i = 0; i < dataPairString.length; i++) {
                var dataToText = dataPairString[i].toString();
                
                var allSplitResult = dataToText.split(":");
                //console.log("allSplitResult = "+allSplitResult);
                var key = allSplitResult[0].toString();
                var val = allSplitResult[1].toString();
                if (allSplitResult.length > 2)
                {
                    for (var index = 2; index < allSplitResult.length; index++) {
                        val = val + ":" + allSplitResult[index].toString();                       
                    }
                }
                //console.log("key = "+key);
                
                key = key.replace(/['"]+/g, '');
                val = val.replace(/['"]+/g, '');
                //console.log("val ="+val[i]);
                imptKeys.push(key);
                imptVals.push(val);
            }
            for (var j = 0; j < imptKeys.length; j++) {
                imptKeys[j] = imptKeys[j].trim();
                imptVals[j] = imptVals[j].trim();
                //console.log("val2 ="+imptVals[j]);
            }
                
            for (var k = 0; k < imptKeys.length; k++) {
                var key = "[[" + imptKeys[k] + "]]";
                var val = imptVals[k];
                var str = key + ": " + val + "\n";
                metaDataArea.value += str;
            }
        }
        // Gets All Tags
        function getAllTags() {
            var tags = document.getElementById("all-tag-text").value;
            var metaDataArea = document.getElementById("allTagArea");
            var dataPairString = tags.split("@@@");
            for (var i = 0; i < dataPairString.length; i++) {
                var dataToText = dataPairString[i].toString();
                
                var allSplitResult = dataToText.split(":");
                var key = allSplitResult[0].toString();
                var val = allSplitResult[1].toString();
                if (allSplitResult.length > 2)
                {
                    for (var index = 2; index < allSplitResult.length; index++) {
                        val = val + ":" + allSplitResult[index].toString();                       
                    }
                }
                key = key.replace(/['"]+/g, '');
                val = val.replace(/['"]+/g, '');
                val = val.replace(/ +/g, ' ');
                keys.push(key);
                vals.push(val);
            }
            for (var j = 0; j < keys.length; j++) {
                keys[j] = keys[j].trim();
            }
            for (var k = 0; k < keys.length; k++) {
                var key = "[[" + keys[k] + "]]";
                var val = vals[k];
                var str = key + ": " + val + "\n";
                metaDataArea.value += str;
            }
        }
        // Converts Key to Tag
        function keyToTag(key) {
            var tag = "[[" + key + "]]";
            return tag;
        }
        // Return Metadata Val from Key
        function getMetadataVal(key) {
            //variable text will read all content in first textarea(user entered)
            text = document.getElementById("template-text").value;
            if (text.includes(keyToTag(key))) {
                if (keys.includes(key)) {
                    var index = keys.indexOf(key);
                    var val = vals[index];
                    var results = text.replace(/key/gi, val);
                }
                else if (imptKeys.includes(key)) {
                    var index = imptKeys.indexOf(key);
                    var val = imptVals[index];
                    var results = text.replace(/key/gi, val);
                }
                else {
                    val = "NONE";
                }
            }
            return val;
        }
        String.prototype.replaceAll = function (find, replace) {
            var str = this;
            return str.replace(new RegExp(find.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&'), 'g'), replace);
        };
        function output() {
            text = document.getElementById("template-text").value;
            var tempText = text;
            //Find values of keys one by one, replace "[[...]]" with their value
            for (var i1 = 0; i1 <= keys.length; i1++) {
                if (tempText.includes(keyToTag(keys[i1]))) {
                    tempText = tempText.replaceAll(keyToTag(keys[i1]), getMetadataVal(keys[i1]));
                }
            }
            for (var i2 = 0; i2 <= imptKeys.length; i2++) {
                if (tempText.includes(keyToTag(imptKeys[i2]))) {
                    tempText = tempText.replaceAll(keyToTag(imptKeys[i2]), getMetadataVal(imptKeys[i2]));
                }
            }
            //set the innerHTML for the last(output) textarea
            var output = document.getElementById("template-text-output").innerHTML = tempText;
            
            //Download all contents in this textarea
            var finalResult = output;
            var tpl = document.getElementById("link");
            tpl.href = 'data:attachment/text,' + encodeURIComponent(finalResult);
            tpl.target = '_blank';
            tpl.download = 'exportTPL.txt';
        }
        function showMoreTags() {
            var val = document.getElementById("button-more-tags").innerHTML;
            var textArea = document.getElementById("test");
            var metaTags = document.getElementById("metadataTagArea");
            var importantTags = document.getElementById("allTagArea");
            val = val.toString();
            if (val === "Show Important Tags") {
                val = "Show All Tags";
                document.getElementById("button-more-tags").innerHTML = val;
                textArea.value = metaTags.value;
            } else {
                val = "Show Important Tags";
                document.getElementById("button-more-tags").innerHTML = val;
                textArea.value = importantTags.value;
            }
        }
        setOutput();
        getMetadata();
        getAllTags();
        showMoreTags();
        setInterval(output, 1000);
    </script>
</body>

</html>